.App {
    text-align: center;
  }
  
  div.card {
  height: 750px;
  width: 600px;
  margin-top: 50px;
  
  }
  
  .CardText{
    font-size: 120%;
  }
  .cardbody{
    height: 100%;
  width: 100%;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
  }
  
  .App-header2 {
    background-color: #b6e1ee;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight:bold;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .opcionesBarra {
    background-color: #b6e1ee;
    font-weight:bold;
    color: white;
  }

  .Carousel {
    height: 100%;
    padding: 0px;
  }
  
  .App-link {
    color: #b5e8f7;
  }
  
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
  
  .ul2 {
      list-style-type: none;
      padding: 0;
      overflow: hidden;
      background-color: #87dfd3;
      width: 38%;
      margin: auto;
  }
  
  
  .barra2
  {    background-color: #87dfd3;
  
  }
  
  li {
      float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(182, 216, 203);
    color: white;
  
  }
  
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
  
  .botonFiltro
  {
        text-align: center;
  
  }
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
  /*
  ul {
      list-style-type: none;
      padding: 0;
      overflow: hidden;
      width: 38%;
      margin: auto;
  }
  
  .barra
  {    background-color: violet;
  
  }
  
  li {
      float: left;
  }
  */
  
  
  